<ion-content style="background-color: #190836;">
	<div class="Combined-Shape">
		<h1 style="text-align: center; color: white">Dice Roller</h1>
		<h5 style="text-align: center; color: white">Age of Sigmar</h5>
	</div>

	<ion-item class="rollsandhits" style="background-color: #190836;">
		<ion-input type="number" name="rolls" [(ngModel)]="rolls"></ion-input>
	</ion-item>
	<ion-label class="rollsandhits" for="rolls">How many rolls?</ion-label>

	<ion-item class="rollsandhits" style="background-color: #190836;">
		<ion-input type="number" name="toHit" [(ngModel)]="toHit"></ion-input>
	</ion-item>
	<ion-label class="rollsandhits" for="toHit">To Hit</ion-label>
	<div text-center>
		<button style="text-align: center" ion-button large class="rollButton" (tap)="rollDice(rolls)">Roll</button>
	</div>
	<div text-center class="row rollsandhits">
		<div class="col">
			<img class="title-image" src="./assets/imgs/6black.svg" width="100%" height="45px" />
			<h3 class="dice" style="color: white">{{ sixes ? sixes : '00' }}</h3>
		</div>
		<div class="col">
			<img class="title-image" src="./assets/imgs/5black.svg" width="100%" height="45px" />
			<h3 class="dice" style="color: white">{{ fives ? fives : '00' }}</h3>
		</div>
		<div class="col">
			<img class="title-image" src="./assets/imgs/4black.svg" width="100%" height="45px" />
			<h3 class="dice" style="color: white">{{ fours ? fours : '00' }}</h3>
		</div>
		<div class="col">
			<img class="title-image" src="./assets/imgs/3black.svg" width="100%" height="45px" />
			<h3 class="dice" style="color: white">{{ threes ? threes : '00' }}</h3>
		</div>
		<div class="col">
			<img class="title-image" src="./assets/imgs/2black.svg" width="100%" height="45px" />
			<h3 class="dice" style="color: white">{{ twos ? twos : '00' }}</h3>
		</div>
		<div *ngIf="ones && !oneTimeReroll" class="col">
			<img class="title-image" src="./assets/imgs/1black.svg" width="100%" height="45px" />
			<h3 class="dice" style="color: white">{{ ones ? ones : '00' }}</h3>
		</div>
		<div *ngIf="ones && oneTimeReroll" class="col">
			<img class="title-image" src="./assets/imgs/1pink.svg" width="100%" height="45px" (tap)="rerollOnes()"/>
			<h3 class="dice" style="color: white">{{ ones ? ones : '00' }}</h3>
		</div>
	</div>
	<div text-center>
		<h1 style="color: white">{{ hits ? hits : '00' }}</h1>
	</div>
	<div text-center>
		<h3 style="color: white">Hits</h3>
	</div>
	<div class="footer">
		<button ion-button clear style="float: left; color: white" (tap)="reset()">Reset</button>
		<button ion-button clear style="float: right; color: white" (tap)="toWoundPage()">Wounds ></button>
	</div>
</ion-content>
